/*------------------ Appel des polices ------------------*/
@font-face {
    font-family: "Gabriela";
    src: url('../fonts/Gabriela-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: "Cinzel";
    src: url('../fonts/CinzelDecorative-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: "Merienda";
    src: url("../fonts/MeriendaOne-Regular.ttf");
    font-display: swap;
}

/*------------------ Styles généraux ------------------*/
* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Gabriela";
    font-size: 1.6em;
    line-height: 1.8;
    background: url('../img/Logo AC.png') repeat;
}
main {
    background-color: rgba(255, 255, 255, 0.8);
}
a {
    text-decoration: none;
    color: rgb(229, 0, 0);
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
}
.fa-angle-double-down, .fa-angle-double-up {
    width: 100%;
    font-size: 1.6em;
    color: rgba(229, 0, 0, 0.9);
}
.hide {
    display: none;
}
hr {
    border: none;
    background-color: rgb(123, 138, 144);
    padding: 1px;
    margin: 5px 0;
}

/*------------------ VERSION TELEPHONE ------------------*/
/*------ HEADER ------*/
header {
    font-family: "Merienda";
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
header img {
    width: 300px;
}
.menu ul li {
    text-align: center;
    padding: 5px 0;
}
.menu ul li a {
    font-size: 1.2em;
    color: rgb(123, 138, 144);
    border-bottom: 2px solid rgb(229, 0, 0);
}
#sous-menu {
    display: none;
    padding: 5px 0;
}
#sous-menu li {
    margin: 5px 0;
}
header .welcome {
    color: rgb(123, 138, 144);
}
header .welcome strong {
    color: rgb(229, 0, 0);
}
header .fa-angle-double-down {
    padding-top: 10px;
}

/*------ MAIN - PAGE D'ACCUEIL ET DES TRAILERS ------*/
main {
    padding: 10px 20px;
}
main h2, main h3, main h4 {
    font-family: "Cinzel";
    padding: 10px 0;
}
main h2, main h4, .trailer article p {
    color: rgb(123, 138, 144);
}
main h3 {
    font-size: 1.3em;
    color: rgb(229, 0, 0);
}
main h4 {
    font-size: 1.1em;
}
#slider {
    display: none;
}
.apropos {
    margin-bottom: 20px;
}
.chronologie article, .trailer article {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.chronologie article img, .trailer article img {
    width: 250px;
}
.trailer article p {
    margin-top: 10px;
}
/*------ MAIN - PAGE DES JEUX ------*/
.contexte {
    margin-bottom: 10px;
    overflow: auto;
}
.contexte img {
    width: 160px;
    float: left;
    margin: 10px;
}
.perso article {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 15px 0;
}
.perso h3 {
    margin-top: 20px;
}
.perso article p {
    padding: 5px 0;
}
.perso .info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 10px;
}
.perso .info img {
    width: 200px;
}
.perso .origins img {
    width: 150px;
    margin: 2%;
}
.perso .valhalla img {
    width: 150px;
    margin: 5px 0;
}
.perso strong, .perso .citation cite {
    color: rgb(229, 0, 0);
}
.perso .info p, .perso .citation p, .perso .citation q {
    color:  rgb(123, 138, 144);
}
.perso .citation {
    padding: 10px 0;
}
.perso .citation p:nth-child(2) {
    margin-bottom: 10px;
}
/*------ MAIN - PAGE DES TERMES ------*/
.termes, .organisations {
    margin: 20px 0;
}
.termes article img, .organisations img {
    width: 300px;
    margin-bottom: 10px;
}
.termes article q, .organisations q {
    display: block;
    color: rgb(123, 138, 144);
}
.termes article cite, .organisations cite {
    color: rgb(229, 0, 0);
    padding-bottom: 10px;
}
/*------ MAIN - PAGE DES ORGANISATIONS ------*/
.organisations article {
    margin: 20px 0;
}
.organisations article ol {
    padding-left: 40px; 
}
/*------ MAIN - PAGE DES TRAILERS (DETAILS) ------*/
.video {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.video h3 {
    width: 100%;
}
.video video {
    width: 300px;
}
/*------ MAIN - BOUTIQUE ------*/
.basket {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    overflow: auto;
}
.basket .basket-view {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 10px;
}
.basket .basket-view h4 {
    font-size: 1.3em;
}
.basket .basket-view .fa-shopping-cart {
    font-size: 1.5em;
    color: rgb(123, 138, 144);
    margin: 0 10px;
}
.basket .basket-view #basket-items {
    font-size: 13px;
    position: relative;
    text-align: center;
    top: -10px;
    left: -15px;
    color: rgb(255, 255, 255);
    background-color: rgb(229, 0, 0);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.shop article {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
}
.shop article img {
    width: 300px;
    margin: 5px 0;
}
.shop article .price {
    color: rgb(229, 0, 0);
    padding: 5px 0;
}
.shop .formulaire {
    text-align: center;
}
.shop .formulaire select {
    border: 1px solid rgb(123, 138, 144);
    border-radius: 5px;
    padding: 2px;
}
.shop .formulaire input {
    width: 40px;
}
.shop .formulaire .addBasket {
    color: rgb(255, 255, 255);
    background-color: rgb(229, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
/*------ MAIN - PANIER ------*/
.basket-table {
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
}
.basket-table th, .basket-table tfoot td {
    color: rgb(255, 255, 255);
    background-color: rgb(123, 138, 144);
    padding: 2px 1px;
}
.basket-table tbody tr td {
    border-bottom: 2px solid rgb(123, 138, 144);
    padding: 10px 5px;
}
.basket-table .remove {
    color: rgb(229, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 3px;
    border: 1px solid rgb(229, 0, 0);
}
.basket-form {
    text-align: center;
}
/*------ MAIN - FORMULAIRE (PAGE CONTACT, REGISTER, LOGIN) ------*/
.formulaire {
    margin-bottom: 20px;
}
.formulaire fieldset {
    margin-bottom: 15px;
    border-radius: 10px;
}
.formulaire legend {
    font-size: 1.2em;
    color: rgb(229, 0, 0);
    padding: 0 10px;
}
.formulaire ul li {
    padding: 5px 0;
}
.formulaire label, .formulaire p {
    color: rgb(123, 138, 144);
}
.formulaire input {
    padding: 2px;
    border: 1px solid rgb(123, 138, 144);
    border-radius: 5px;
    margin-left: 5px;
}
.formulaire textarea {
    width: 100%;
    resize: none;
    padding: 5px;
    border: 1px solid rgb(123, 138, 144);
    border-radius: 10px;
}
.asterisk {
    font-weight: bold;
    color: rgb(229, 0, 0);
}
.send {
    color: rgb(255, 255, 255);
    background-color: rgb(6, 180, 0);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 20px;
}
.cancel {
    color: rgb(255, 255, 255);
    background-color: rgb(229, 0, 0);
    padding: 4px 8px;
    border-radius: 5px;
}
.error {
    display: none;
    font-weight: bold;
    color: rgb(229, 0, 0);
    margin-left: 10px;
}
.mail-send, .goodpassword, .goodEmail {
    background-color: rgb(199, 255, 194);
    border: 3px solid rgb(47, 195, 35);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 30px;
}
.wrongpassword, .wrongEmail {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 148, 148);
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;
}
/*------ MAIN - ADMINISTRATION ------*/
.administration {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.administration a {
    color: rgb(255, 255, 255);
    background-color: rgb(229, 0, 0);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0;
}
.admin-user article, .admin-shop article {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.admin-user h5, .admin-shop h5, .admin-order h5 {
    font-family: "Cinzel";
    font-size: 1.2em;
    color: rgb(229, 0, 0);
}
.admin-user .gestion {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.admin-user .gestion div {
    width: 48%;
    margin: 1%;
}
.admin-user .gestion div {
    text-align: center;
}
.admin-shop img {
    width: 200px;
    margin: 10px 0;
}
.admin-order article {
    margin-bottom: 20px;
}
.admin-order p:nth-child(4) {
    margin-bottom: 10px;
}
.admin-order a {
    color: rgb(255, 255, 255);
    background-color: rgb(229, 0, 0);
    padding: 5px 10px;
    border-radius: 10px;
}
.order-details table {
    border-collapse: collapse;
    text-align: center;
}
.order-details thead {
    color: rgb(255, 255, 255);
    background-color: rgb(123, 138, 144);
}
.order-details th, td {
    padding: 0 3px;
    border-bottom: 2px solid rgb(123, 138, 144);
}
.order-details tfoot td {
    font-weight: bold;
    color: rgb(229, 0, 0);
}
.order-details tfoot td:nth-child(1) {
    text-align: right;
}
/*------ MAIN - MON COMPTE ------*/
.warning {
    font-weight: bold;
    color: rgb(229, 0, 0);
}

/*------ FOOTER ------*/
footer {
    font-family: "Merienda";
    text-align: center;
    padding: 20px;
}
footer p {
    color: rgb(123, 138, 144);
}
footer .fa-angle-double-up {
    padding-bottom: 10px;
}

/*------------------ VERSION TABLETTE ------------------*/
@media screen and (min-width: 768px) {
    /*------ HEADER ------*/
    .menu {
        width: 100%;
    }
    .menu ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0 10px;
    }
    .menu ul li {
        padding: 0 5px;
    }
    #sous-menu {
        position: absolute;
        left: 0;
        right: 0;
        background-color: rgb(255, 255, 255);
        z-index: 2;
    }
    .deroulant:hover #sous-menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    /*------ MAIN - PAGE D'ACCUEIL ET DES TRAILERS ------*/
    main {
        padding: 10px 40px;
    }
    #slider {
        display: block;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    #slider img {
        width: 650px;
        padding: 10px 0;
    }
    #slider #dots {
        position: relative;
        z-index: 999;
        display: flex;
        justify-content: center;
    }
    .dot {
        display: inline-block;
    }
    .dot a {
        display: block;
        width: 20px;
        height: 20px;
        background-color: rgb(0, 0, 0);
        border: 2px solid rgb(123, 138, 144);
        border-radius: 10px;
    }
    .dot + .dot {
        margin-left: 5px;
    }
    .dot.selected a {
        background-color: rgb(123, 138, 144);
        border: 2px solid rgb(0, 0, 0);
    }
    #slider a {
        font-family: "Cinzel";
        font-size: 1.3em;
    }
    .chronologie, .trailer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .chronologie h2 {
        width: 100%;
    }
    .chronologie article, .trailer article {
        width: 47%;
        margin: 1%;
    }
    /*------ MAIN - PAGE DES JEUX ------*/
    .perso .info {
        flex-flow: row;
        justify-content: center;
    }
    .perso .info div {
        width: 50%;
        margin: 5%;
    }
    /*------ MAIN - PAGE DES TERMES ET ORGANISATIONS ------*/
    .termes article img, .organisations img {
        width: 400px;
        position: relative;
        left: 25%;
    }
    /*------ MAIN - PAGE DES TRAILERS (DETAILS) ------*/
    .video video {
        width: 500px;
    }
    /*------ MAIN - BOUTIQUE ------*/
    .shop {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }
    .shop h3 {
        width: 100%;
    }
    .shop article {
        width: 46%;
        margin: 2%;
    }
    .shop article img {
        width: 350px;
    }
    /*------ MAIN - PANIER ------*/
    .basket-table {
        margin: 0 auto 20px;
    }
    .basket-table th, .basket-table tfoot td {
        padding: 5px;
    }
    .basket-table tbody tr td {
        padding: 10px 20px;
    }
    /*------ MAIN - FORMULAIRE (PAGE CONTACT, REGISTER ET LOGIN) ------*/
    .formulaire input {
        width: 300px;
    }
    /*------ MAIN - CONTACT, CHANGEPASSWORD, FORGOTPASSWORD ------*/
    .mail-send, .goodpassword {
        width: 85%;
        margin: 0 auto 30px;
    }
    .goodpassword {
        width: 49%;
    }
    .wrongpassword {
        width: 57%;
        margin: 20px auto;
    }
    /*------ MAIN - ADMINISTRATION ------*/
    .administration {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .admin-user article, .admin-shop article {
        display: flex;
        flex-flow: row wrap;
    }
    
    .admin-shop article {
        justify-content: space-evenly;
        align-items: center;
    }
    .admin-user article h5, .admin-shop article h5 {
        width: 100%;
    }
    .admin-user article p {
        width: 100%;
    }
    .admin-shop article img {
        margin: 10px;
    }
    .admin-shop article div p {
        padding: 5px 0;
    }
    .order-details th, td {
        padding: 5px 10px;
    }
}

/*------------------ VERSION DESKTOP ------------------*/
@media screen and (min-width: 1024px) {
    /*------ HEADER ------*/
    .menu, #sous-menu {
        width: 80%;
        margin: 0 auto;
    }
    .deroulant:hover #sous-menu {
        display: block;
    }
    .menu ul li a:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(229, 0, 0);
        padding: 0 10px;
        border-radius: 5px;
    }
    
    /*------ MAIN - PAGE D'ACCUEIL ET DES TRAILERS ------*/
    main {
        width: 90%;
        margin: 0 auto;
    }
    #slider img {
        width: 800px;
    }
    .chronologie article, .trailer article {
        width: 31%;
    }
    /*------ MAIN - PAGE DES JEUX ------*/
    .perso .info {
        width: 70%;
        margin: 0 auto;
    }
    .perso .info img {
        width: 250px;
    }
    .perso .origins img, .perso .valhalla img {
        width: 200px;
    }
    /*------ MAIN - PAGE DES TERMES ET ORGANISATIONS ------*/
    .termes article img, .organisations img {
        width: 500px;
    }
    /*------ MAIN - PAGE DES TRAILERS (DETAILS) ------*/
    .video video {
        width: 700px;
    }
    /*------ MAIN - ADMINISTRATION ------*/
    .admin-user, .admin-shop, .admin-order {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .admin-order {
        justify-content: space-evenly;
    }
    .admin-user article, .admin-shop article {
        width: 48%;
        margin: 1%;
    }
    /*------ MAIN - CONTACT, CHANGEPASSWORD, FORGOTPASSWORD ------*/
    .mail-send {
        width: 45%;
    }
    .goodpassword {
        width: 26%;
    }
    .wrongpassword {
        width: 31%;
    }
    .goodEmail {
        width: 65%;
        margin: 20px auto;
    }
    .wrongEmail {
        width: 54%;
        margin: 20px auto;
    }
}